<HTML>
    <HEAD>
    <script type="text/javascript">

        function back(pos) {
            var lat = pos.coords.latitude;
            var lon = pos.coords.longitude;

            var str = '{"lat": "'+lat+'", "lon": "'+lon+'"}';

            document.getElementById("location").innerHTML = str;
        }

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(back);
        } else {
        }
    </script>
    </HEAD>
<BODY>
    <div id="location">Error</div>
</BODY>
</HTML>
