{% extends "base.html" %}

{% block title %}DeaLocos - Crazy deals fit to you!{% endblock %}

{% block main %}
{% if not session %}
<center><img src="/img/logo.png"></img></center>
<div class="big-heading">Welcome to DeaLocos</div>
<div class="medium-heading">Crazy deals fit to you!</div>
<br /><br />
<center><button>Login!</button></center>

{% else %}
<img src="http://maps.google.com/maps/api/staticmap?center={{ret[0]}},{{ret[1]}}+&zoom=14&size=750x600&sensor=false&markers=color:blue%7Clabel:H%7C{{ret[2]}}" />

<br />

<a href={{url_for('logout')}}>Logout</a>
{% endif %}
{% endblock %}

{% block js %}

<script type="text/javascript">
    $(function() {
        $('button').button().css({width: '300px', height: '200px'});
        $('button').click(function() {
            window.location.href = 'http://localhost:8080/login/?auth_token_key=dmkaoqgljw5855264&user_id=hn_5855264&next=%2F';
            });
    });

</script>

{% endblock %}
