{% extends "base.html" %}

{% block title %}DeaLocos - Crazy deals fit to you!{% endblock %}

{% block main %}
{% if not session %}
<div class="big-heading">Welcome to DeaLocos</div>
<div class="medium-heading">Crazy deals fit to you!</div>
<br /><br />
<center><button>Login!</button></center>

{% else %}
Display the website here fuckers
<a href={{url_for('logout')}}>Logout</a>
{% endif %}
{% endblock %}

{% block js %}

<script type="text/javascript">
    $(function() {
        $('button').button().css({width: '300px', height: '200px'});
        $('button').click(function() {
            window.location.href = 'http://hunch.com/authorize/v1/?app_id=3145664&next=/';
        });
    });
</script>

{% endblock %}
